body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1200px;
	min-height: 100vh;
	margin:  0 auto;
	padding: 0 50px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.main-content {
	flex-grow: 1;
}

a {
	text-decoration: none;
	outline: none;
}

.portrait {
	width: 40%;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 6px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 47px;
}
header + p {
	font-weight: 600;
}

h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

header a {
	color: #888888;
	margin-right: 16px;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #88888888;
	background: #888888;
	color: white;
	padding: 8px;
}
